html {
    font-size: 90%;
}

:root {
    --white: hsl(0, 0%, 100%);
    --whitepure: #fff;
    --dark: #1b323d;
    --transparent-dark: hsla(199, 34%, 17%, 0.04);
    --transparent-dark-2: hsla(199, 34%, 17%, 0.6);
    --deepblue: #023047;
    --deepyellow: #fb8500;
    --deepbrown: #850103;
    --accent: #fb8704;
}

* {
    box-sizing: border-box;
    margin-bottom: .6em;
}

body {
    margin: 0;
    font-family: 'Outfit';
    color: var(--dark);
}

a,
ul {
    font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    margin-top: 0;
}


h1 {
    font-family: 'Outfit';
    font-size: clamp(1rem, 1.5rem + 2vw, 2rem);
    font-weight: 500;
    line-height: 1.1;
}

p,
ul,
label,
input,
select {
    font-size: clamp(1rem, .5rem + 1.2vw, 2rem);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

article {
    display: flex;
    flex-direction: column;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    padding-top: .4em;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--accent);
}

.container {
    height: 90vh;
    width: 90%;
}

.logo {
    width: 20%;
}

.dform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead-form {
    background-color: var(--transparent-dark);
}

.lead-content {
    background-color: var(--accent);
    padding: 1.5em 2em;
}

.lead-content,
.lead-form {
    margin-bottom: 0;
}

.brand-image {
    width: 30%;
    display: block;
    margin: 0 auto;
}

.tiny-p {
    font-size: clamp(1rem, .3rem + 1.5vw, 2rem);
}

form {
    width: 80%;
}

label {
    display: block;
    margin-bottom: .2em;
}

input:not([type="submit"]),
select {
    width: 100%;
}

h3 {
    display: none;
}

input,
select {
    display: block;
    padding: .3em;
    border: solid 1px var(--transparent-dark-2);
    border-radius: 0;
}

input[type="submit"] {
    padding: .5em 1em;
    background-color: var(--deepblue);
    color: var(--white);
    margin-top: 1.3em;
}



/* Utilitu Classes */

.blockit {
    display: block;
}


@media screen and (min-width: 600px) {
    article {
        flex-direction: row;
    }

    .container {
        height: 70vh;
        width: 70%;
    }

    .lead-content,
    .lead-form {
        width: 50%;
    }

    .lead-content{
        padding: 0 3em;
        padding-top: 9em;
        padding-bottom: 1em;

    }

    h3 {
        display: block;
        font-size: clamp(1rem, .6rem + 1.3vw, 2rem);
    }

    .form-group {
        margin-bottom: 1em;
    }

    input[type="submit"] {
        margin-top: 1.3em;
    }

    .tiny-p {
        font-size: clamp(1rem, .3rem + 1.3vw, 2rem);
    }

}