@font-face {
    font-family: 'Gotham Rounded Medium';
    src: url('../fonts/Gotham-Rounded-Medium.woff') format('woff'),
        url('fonts/Gotham-Rounded-Medium.woff2') format('woff2');
    font-weight: normal;
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded Light';
    src: url('../fonts/Gotham-Rounded-Light.woff') format('woff'),
        url('fonts/Gotham-Rounded-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('../fonts/Gotham-Rounded-Book.woff') format('woff'),
        url('fonts/Gotham-Rounded-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 90%;
}

:root {
    --white: hsl(0, 0%, 100%);
    --whitepure: #fff;
    --dark: #1b323d;
    --transparent-dark: hsla(199, 34%, 17%, 0.04);
    --transparent-dark-2: hsla(199, 34%, 17%, 0.6);
    --deepblue: #023047;
    --deepyellow: #fb8500;
    --deepbrown: #850103;
    --accent: #fb8704;
}

* {
    box-sizing: border-box;
    margin-bottom: .6em;
}

body {
    margin: 0;
    font-family: 'Gotham Rounded Light';
    color: var(--dark);
}

a,
ul,
input,
textarea,
select {
    font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    margin-top: 0;
}


h1 {
    font-family: 'Gotham Rounded Book';
    font-size: clamp(1rem, 1.5rem + 2vw, 2rem);
    font-weight: 500;
    line-height: 1.1;
}

p,
ul,
label,
input,
select,
textarea,
a {
    font-size: clamp(1rem, .5rem + 1.2vw, 2rem);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*
    min-height: 100vh;
    max-height: 100vh;
    */
}

article {
    display: flex;
    flex-direction: column;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 0;
    padding-top: .4em;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--accent);
    font-family: 'Gotham Rounded Light';
}

.container {
    height: 90vh;
    width: 90%;
}

.logo {
    width: 20%;
}

.dform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead-form {
    background-color: var(--transparent-dark);
    padding-top: 2em;
    padding-bottom: 1em;
}

.lead-content {
    color: var(--white);
    background-color: var(--deepblue);
    padding: 1.5em 2em;
}

.lead-content,
.lead-form {
    margin-bottom: 0;
}

.brand-image {
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
}

.tiny-p {
    font-size: clamp(1rem, .3rem + 1.5vw, 2rem);
}

form {
    width: 70%;
}

label {
    display: block;
    margin-bottom: .2em;
    font-weight: 500;
}

input:not([type="submit"]),
select,
textarea {
    width: 100%;
}

textarea {
    max-height: 200px;
    resize: none;
}

h3 {
    display: block;
    font-family: 'Gotham Rounded Book';
}

input,
select {
    display: block;
    padding: .3em;
    border: solid 1px var(--transparent-dark-2);
    border-radius: 0;
}

input[type="submit"] {
    display: inline-block;
    padding: .5em 1em;
    background-color: var(--deepblue);
    color: var(--white);
    margin-top: .1em;
}

input[type="submit"]:hover {
    cursor: pointer;
}



/* Utilitu Classes */

.blockit {
    display: block;
}


@media screen and (min-width: 600px) {
    html {
        font-size: 60%;
    }

    main {
        padding-bottom: 5em;
        height: 100vh;
    }

    article {
        flex-direction: row;
    }

    .container {
        height: 70vh;
        width: 70%;
    }

    .lead-content,
    .lead-form {
        width: 50%;
    }

    .lead-form {
        padding-top: 6em;
        padding-bottom: 2.5em;
    }

    .lead-content {
        padding: 0 4em;
        /*padding-top: 9em;
        padding-bottom: 1em;*/
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .brand-image {
        width: 40%;
        display: block;
        margin: 0 auto;
        margin-bottom: 1.8em;
    }

    h3 {
        display: block;
        font-size: clamp(1rem, .6rem + 1.6vw, 2rem);
    }

    .form-group {
        margin-bottom: 1em;
    }

    input[type="submit"] {
        margin-top: .4em;
    }

    .tiny-p {
        font-size: clamp(1rem, .3rem + 1.3vw, 2rem);
    }

}


/* Spinner */
#loadingIcon {
    font-size: clamp(1rem, 1rem + 1.6vw, 2rem);
    display: none;
    padding-top: 0;
}

#loadingIcon .spinner {
    border: 4px solid var(--deepblue);
    border-top: 4px solid var(--accent);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 2px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}